# PASTAS PARA SEREM IGNORADAS AO SUBIR O CONTAINER
__pycache__/
venv/
.git/
.vscode/
node_modules/
nginx/
.docker/

# ARQUIVOS PARA SEREM IGNORADOS AO SUBIR O CONTAINER
*.pyc
*.sqlite3
*.md
*.gitignore
*.env
Dockerfile
docker-compose.yml
.dockerignore

# O IGNORE VAI IGNORAR TRISCA NESSES ARQUIVOS
!.env-example


