{% extends "jobs/base.html" %}
{% load icons static %}

{% block title %}..::: JobsJua | Plataforma para empresas :::.. {% endblock title %}

{% block title-page %}
  <img class="mb-10" src="{%  static 'svg/search.svg' %}" alt="uma lupa">
  OLÁ, {{ user.username|upper }} <strong class="ml-2">{% icon 'happy' %}</strong> 
{% endblock title-page %}


{% block main %}
    {% for item in page %}
      <a href="{% url 'secret_one_vacancie' id=item.id %}" 
        class="w-[90%] h-auto bg-myGreen-400  hover:bg-myGreen-500 duration-300  p-4 rounded-sm mt-2
        md:w-[60%]
        lg:w-[30%] lg:ml-4  
      ">
      
        <strong class="text-sm text-myGreen-800" >{{ item.create_at }}</strong> <br>
        <br>
        <strong>Vaga: </strong>{{ item.title }}<br>
        <strong>Salário: </strong>{{ item.wage|floatformat:2 }} Reais  <br>
        <strong>Modalidade: </strong> {{ item.modality }} <br>
        <strong>Jornada: </strong> {{ item.weekly_journey }} <br>
        <strong>Turno: </strong> {{ item.work_shift }} <br>
        
      </a>
    {% endfor %}

    <div class="
      my-4 py-4 w-full flex justify-center items-center radius-sm
      md:px-60 
      ld:px-70 
    ">
      {% if page.has_previous %}
        <a href="{% url 'platform' %}?page={{page.previous_page_number}}" class="flex items-center justify-center px-3 h-8 text-sm font-medium text-myWhite-50 bg-myGreen-600  hover:bg-myGreen-700 rounded-s duration-300">{% icon 'arow_left' %}</a>
      {% endif %}

      <h2 class="mx-4 italic">{{page.number}} de {{page.paginator.num_pages}}</h2> 

      {% if page.has_next %}<Page 2 of 3> 
        <a href="{% url 'platform' %}?page={{page.next_page_number}}" class="flex items-center justify-center px-3 h-8 text-sm font-medium text-myWhite-50 bg-myGreen-600  hover:bg-myGreen-700 rounded-s duration-300">{% icon 'arow_right' %}</a>
      {% endif %}
    </div>

{% endblock %}