{% extends "jobs/base.html" %}
{% load icons static %}

{% block title %}..::: JobsJua | Recupere a sua senha :::..{% endblock title %}

{% block title-page %}
    <img width="200" height="200" class="mb-10 " src="{%  static 'svg/recovery_password.svg' %}" alt="alterar senha">
    <h1 >RECUPERAÇÃO DE SENHA </h1>
{% endblock title-page %}

{% block main %}
    <form action="{% url 'recovery_password' %}" method="POST" class="w-[90%] md:w-[50%]  flex flex-col ">{% csrf_token %}

        <div class="my-4">
            <label for="email" class="block text-sm/6 font-medium text-myWhite-800">Email cadastrado:</label>
            <div class="mt-2">
                {{ form.email }}
            </div>
        </div>

        <div class="my-4">
            <label for="password" class="block text-sm/6 font-medium text-myWhite-800">Nova senha:</label>
            <div class="mt-2">
                {{ form.password }}
            </div>
        </div>

        <div class="my-4">
            <label for="password" class="block text-sm/6 font-medium text-myWhite-800">Confirme a sua nova senha:</label>
            <div class="mt-2">
                {{ form.password2 }}
            </div>
        </div>
        
        <div class="my-6">
            <button type="submit" class="flex w-full justify-center rounded-md bg-myGreen-500 hover:bg-myGreen-600 duration-300 px-3 py-2 text-sm/6 font-semibold text-myWhite-50 shadow-sm">Recuperar</button>
        </div>

    </form>
{% endblock %}