{% extends "jobs/base.html" %}
{% load static %}

{% block title %}..::: JobsJua | Cadastro de Empresa :::.. {% endblock title %}

{% block title-page %}
<div class="
  px-8 flex justify-center flex-col items-center
  md:w-[60vw]
  lg:w-[40vw]
">
  <img width="200" height="200" class="mb-10" src="{%  static 'svg/register.svg' %}" alt="" srcset="">
  CADASTRE SUA EMPRESA
</div>

  
{% endblock title-page %}

{% block main %}

  {% if user.is_authenticated == True %}
    <strong>NECESSÁRIO FAZER LOGOUT PARA INICIAR UM NOVO CADASTRO</strong> 
  {% else %}
    <form class="space-y-5 flex flex-wrap justify-center w-full h-auto py-5 rounded-sm 
                md:w-[70%]
                lg:w-[50%]
    " 
          action="{% url 'register' %}" 
          method="POST"
      > {% csrf_token %}

      <!-- CADASTRO EMPRESA CNPJ -->
      <div class="p-2 w-[90%]">
        <label for="cnpj" class="block text-sm/6 font-medium text-gray-900">CNPJ</label>
        <div class="mt-2">
          {{ form.cnpj }}
        </div>
      </div>

      <!-- CADASTRO EMPRESA RAZÃO SOCIAL -->
      <div class="p-2 w-[90%]">
        <label for="username" class="block text-sm/6 font-medium text-gray-900">Razão social</label>
        <div class="mt-2">
          {{ form.username }}
        </div>
      </div>

      <!-- CADASTRO EMPRESA SETOR -->
      <div class="p-2 w-[90%]">
        <label id="setor" for="setor" class="block text-sm/6 font-medium text-gray-900">Setor de atuação</label>
        <div class="mt-2">
          {{ form.sector }}
        </div>
      </div>

      <!-- CADASTRO EMPRESA EMAIL -->
      <div class="p-2 w-[90%]">
        <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
        <div class="mt-2">
          {{ form.email }}
        </div>
      </div>

      <!-- CADASTRO EMPRESA TELEFONE -->
      <div class="p-2 w-[90%]">
        <label for="phone" class="block text-sm/6 font-medium text-gray-900">Telefone</label>
        <div class="mt-2">
          {{ form.phone }}
        </div>
      </div>

      <!-- CADASTRO EMPRESA WHATSAPP -->
      <div class="p-2 w-[90%]">
        <label for="whatsapp" class="block text-sm/6 font-medium text-gray-900">WhatsApp</label>
        <div class="mt-2">
          {{ form.whatsapp }}
        </div>
      </div>

      <!-- CADASTRO EMPRESA "ESTA CONTRATANDO" -->
      <div class="p-2 
        w-[50%] 
        md:w-[40%] 
        lg:w-[50%]
      ">
        <label for="is_hiring" class="block text-sm/6 font-medium text-gray-900">Está contratando</label>
        <div class="mt-2">
          {{ form.is_hiring }}
        </div></input>
      </div>

      <!-- CADASTRO EMPRESA "SENHA" -->
      <div class="p-2 w-[90%]">
        <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha</label>
        <div class="mt-2">
          {{ form.password }}
        </div>
      </div>

      <div class="w-[60%] m-auto">
        <button type="submit" class="flex w-full justify-center rounded-md bg-myGreen-500 hover:bg-myGreen-600 duration-300  py-3 my-3 text-sm/6 font-semibold text-myWhite-50 shadow-sm">Cadastrar</button>
      </div>
    </form>
  {% endif %}

{%  endblock %}