{% extends "jobs/base.html" %}
{% load static %}

{% block title %}..::: JobsJua | Cadastro de Vagas :::.. {% endblock title %}

{% block title-page %}
  <img width="200" height="200" class="mb-10" src="{%  static 'svg/register.svg' %}" alt="crie sua vaga">
  CRIE SUA VAGA
{% endblock title-page %}

{% block main %}
<form class="space-y-5 flex flex-wrap justify-center w-full h-auto py-5 rounded-sm 
  md:w-[70%]
  lg:w-[50%]
" action="#" method="POST">
  {% csrf_token %}

  <!-- CADASTRO EMPRESA CNPJ -->
  <div class="p-2 w-[90%]">
    <label for="title" class="block text-sm/6 font-medium text-myWhite-800">Titulo da vaga:</label>
    <div class="mt-2">
      {{ form.title }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA RAZÃO SOCIAL - A EMPRESA QUE JÁ ESTÁ LOGADA -->
  <div class="p-2 w-[90%]">
    <label for="enterprise" class="block text-sm/6 font-medium text-myWhite-800">Empresa:</label>
    <div class="mt-2">
      {{ enterprise|upper }}
    </div>
  </div>
  

  <!-- CADASTRO EMPRESA RAZÃO SOCIAL -->
  <div class="p-2 w-[90%]">
    <label for="email" class="block text-sm/6 font-medium text-myWhite-800">Email:</label>
    <div class="mt-2">
      {{ form.email }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA SETOR -->
  <div class="p-2 w-[90%]">
    <label id="whatsapp" for="whatsapp" class="block text-sm/6 font-medium text-myWhite-800">WhatsApp:</label>
    <div class="mt-2">
      {{ form.whatsapp }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA EMAIL -->
  <div class="p-2 w-[90%]">
    <label for="wage" class="block text-sm/6 font-medium text-myWhite-800">Salário:</label>
    <div class="mt-2">
      {{ form.wage }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA TELEFONE -->
  <div class="p-2 w-[90%]">
    <label for="modality" class="block text-sm/6 font-medium text-myWhite-800">Modalidade:</label>
    <div class="mt-2">
      {{ form.modality }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA WHATSAPP -->
  <div class="p-2 w-[90%]">
    <label for="weekly_journey" class="block text-sm/6 font-medium text-myWhite-800">Jornada semanal:</label>
    <div class="mt-2">
      {{ form.weekly_journey }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA "ESTA CONTRATANDO" -->
  <div class="p-2 
w-[70%] 
md:w-[40%] 
lg:w-[50%]
">
    <label for="work_shift" class="block text-sm/6 font-medium text-myWhite-800">Turno de trabalho:</label>
    <div class="mt-2">
      {{ form.work_shift }}
    </div></input>
  </div>

  <!-- CADASTRO EMPRESA "SENHA" -->
  <div class="p-2 w-[90%]">
    <label for="state" class="block text-sm/6 font-medium text-myWhite-800">Situação:</label>
    <div class="mt-2">
      {{ form.state }}
    </div>
  </div>

  <div class="p-2 w-[90%]">
    <label for="description" class="block text-sm/6 font-medium text-myWhite-800">Descrição:</label>
    <div class="mt-2">
      {{ form.description }}
    </div>
  </div>

  <div class="w-[60%] m-auto">
    <button type="submit"
      class="flex w-full justify-center rounded-md bg-myGreen-500 hover:bg-myGreen-600 duration-300  py-3 my-3 text-sm/6 font-semibold text-myWhite-50 shadow-sm">Cadastrar</button>
  </div>
</form>
{% endblock %}