{% extends "jobs/base.html" %}
{% load icons %}

{% block title %}..::: JobsJua | Dados da vaga :::.. {% endblock title %}

{% block title-page %} 
  {{ vacancie|upper }}
{% endblock title-page %}

{% block main %}
  {% if vacancie.state == True %}
    
    <div class="
      w-[85vw] h-auto bg-myGreen-400 rounded flex flex-col py-6
      md:w-[80%] 
      lg:w-[80%]
    ">

      <strong class="text-center text-sm text-myWhite-100">N°: {{ vacancie.id }}</strong> 
      <strong class="text-center text-sm text-myWhite-100" >{{ vacancie.create_at }}</strong> <br>

      <ul class="flex flex-wrap text-[1.2rem]">
        <li class=" mt-2 p-4">
          <strong>Vaga:</strong> 
          <p>{{ vacancie.title }} {{ vacancie.title }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Empresa:</strong> 
          <p>{{ vacancie.enterprise }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Email:</strong> 
          <p>{{ vacancie.email }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>WhatsApp:</strong> 
          <p>{{ vacancie.whatsapp }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Tipo:</strong> 
          <p>{{ vacancie.modality }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Jornada semanal:</strong> 
          <p>{{ vacancie.weekly_journey }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Salário:</strong> 
          <p>R${{ vacancie.wage }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Turno:</strong> 
          <p>{{ vacancie.work_shift }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Descrição:</strong> 
          <p >
            {{ vacancie.description }}
          </p>
        </li>
      </ul>

      <!-- BOTOES | EDIÇÃO SE LOGADO -->
      <div class="flex justify-start mt-4">
          <a 
            href="{% url 'edit_vacancie' id=vacancie.id %}" 
            class="w-[15%] ml-4 h-auto p-3 flex text-myWhite-50 justify-center items-center bg-myBlue-700 hover:bg-myBlue-800 duration-300 rounded-md">
            {% icon 'edit' %}
          </a>
    

        <a 
          href="{% url 'delete_vacancie' id=vacancie.id %}"
          class=" w-[15%] ml-4 h-auto p-3 flex justify-center text-myWhite-50 items-center bg-myRed-800 hover:bg-myRed-700 duration-300  rounded-md">
          {% icon 'delete' %}
        </a>
      </div>
    </div>
  {% else %}

  {{vacancie.status}}
    <div class="
      w-[85vw] h-auto bg-myRed-400 rounded flex flex-col py-6
      md:w-[80%] 
      lg:w-[80%]
    ">

      <strong class="text-center text-sm text-myWhite-100">N°: {{ vacancie.id }}</strong> 
      <strong class="text-center text-sm text-myWhite-100" >{{ vacancie.create_at }}</strong> <br>

      <ul class="flex flex-wrap text-[1.2rem]">
        <li class=" mt-2 p-4">
          <strong>Vaga:</strong> 
          <p>{{ vacancie.title }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Empresa:</strong> 
          <p>{{ vacancie.enterprise }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Email:</strong> 
          <p>{{ vacancie.email }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>WhatsApp:</strong> 
          <p>{{ vacancie.whatsapp }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Tipo:</strong> 
          <p>{{ vacancie.modality }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Jornada semanal:</strong> 
          <p>{{ vacancie.weekly_journey }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Salário:</strong> 
          <p>R${{ vacancie.wage }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Turno:</strong> 
          <p>{{ vacancie.work_shift }}</p>
        </li>

        <li class="mt-2 p-4">
          <strong>Descrição:</strong> 
          <p >
            {{ vacancie.description }}
          </p>
        </li>
      </ul>

          <!-- BOTOES | EDIÇÃO SE LOGADO -->
          <div class="flex justify-start mt-4">
              <a 
                href="{% url 'edit_vacancie' id=vacancie.id %}" 
                class="w-[15%] ml-4 h-auto p-3 flex text-myWhite-50 justify-center items-center bg-myBlue-700 hover:bg-myBlue-800 duration-300 rounded-md">
                {% icon 'edit' %}
              </a>


            <a 
              href="{% url 'delete_vacancie' id=vacancie.id %}"
              class=" w-[15%] ml-4 h-auto p-3 flex justify-center text-myWhite-50 items-center bg-myRed-800 hover:bg-myRed-700 duration-300  rounded-md">
              {% icon 'delete' %}
            </a>
          </div>
    </div>
  {% endif %}

{% endblock main %}